.frame .overlap-group-wrapper {
  padding: 1rem;
}

.frame .overlap-group {
  display: flex;
}

.frame .text-wrapper-3 {
  color: #33c6fe;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
}

.frame .text-wrapper-4 {
  color: #000000;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 50px;
  font-weight: 700;
}

.frame .div-3 {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.frame .rectangle {
  background-color: #35c3fe;
  border: 1px solid;
  border-color: #35c3fe;
  border-radius: 30px;
  box-shadow: 10px 10px 10px #00000040;
  height: 300px;
  width: 275px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.frame .rectangle:hover {
  background-color: #35b5ec;
  transform: scale(1.1);
  cursor: pointer;
  transition: transform 0.3s, filter 0.2s ease-in-out;
}

.frame .text-wrapper {
  color: #ffffff;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  justify-content: center;
}

.frame .add-slow-learners1 {
  color: #ffffff;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
}
