@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap");
@media print {
  .btn,
  button,
  input {
    display: none;
  }
  #notice__doc {
    min-width: 32rem;
    max-width: 32rem;
    margin: auto;
  }
  .notice__Border1 {
    padding: 0.1em;
    border: solid black thick;
  }
  .notice__Border2 {
    padding: 1em;
    border: solid black;
  }
  .notice__heading {
    display: flex;
    justify-content: space-evenly;
  }
  .notice__logo {
    max-height: 70px;
  }

  .notice__heading * {
    text-align: center;
    padding: 0;
    margin: 0;
  }
  .dash {
    border-top: 0.1rem solid black;
  }
  .notice__title {
    text-align: center;
  }
  #notice__RegNo {
    font-family: fantasy;
  }
  .date {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .notice__Signatures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    padding-inline: 2rem;
  }
  .notice__clerk {
    display: flex;
    align-items: flex-end;
    margin-top: 6rem;
  }
  .notice__Signatures > div {
    text-align: center;
  }
}
@page {
  margin: 0.5em;
}
.book-date {
  page-break-after: always;
}

.post-content {
  page-break-before: always;
}
p {
  page-break-inside: avoid;
}
.btn {
  display: block;
  padding: 2px 20px;
}
#notice__doc {
  min-width: 42rem;
  max-width: 42rem;
  margin: auto;
}
.notice__Border1 {
  padding: 0.1em;
  border: solid black thick;
}
.notice__Border2 {
  padding: 1em;
  border: solid black;
}
.notice__heading {
  display: flex;
  justify-content: space-evenly;
}
.notice__heading * {
  text-align: center;
  padding: 0;
  margin: 0;
}
.notice__heading > h1 {
  font-family: sans-serif;
  font-weight: 1000;
  font-size: x-large;
}
.dash {
  border-top: 0.1rem solid black;
}
.notice__title {
  text-align: center;
}
#notice__RegNo {
  font-family: fantasy;
}
.date {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.notice__Signatures {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  padding-inline: 2rem;
}
.notice__clerk {
  display: flex;
  align-items: flex-end;
  margin-top: 6rem;
}
.notice__Signatures > div {
  text-align: center;
}
