.upload {
  background-color: #ffffff;
  height: 1080px;
  position: relative;
  width: 1920px;
}

.upload .frame {
  height: 99px;
  left: 61px;
  position: absolute;
  top: 69px;
  width: 527px;
}

.upload .text-wrapper {
  color: #00000080;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  left: 135px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 62px;
  width: 392px;
}

.upload .user {
  height: 99px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 99px;
}

.upload .div {
  color: #000000;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 32px;
  font-weight: 400;
  left: 135px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 19px;
  width: 405px;
}

.upload .overlap-group {
  background-color: #35c3fe1f;
  height: 828px;
  left: 21px;
  position: absolute;
  top: 232px;
  width: 1877px;
}

.upload .overlap {
  background-color: #ffffff;
  border: 1px solid;
  border-color: #000000;
  border-radius: 15px;
  height: 571px;
  left: 40px;
  position: absolute;
  top: 120px;
  width: 1030px;
}

.upload .text-wrapper-2 {
  color: #35c3fedb;
  font-family: "Rubik-Bold", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 101px;
  left: 309px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 29px;
  width: 389px;
}

.upload .p {
  color: #000000;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 47px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 145px;
  width: 982px;
}

.upload .overlap-2 {
  background-color: #ffffff;
  border-radius: 15px;
  height: 92px;
  left: 1085px;
  position: absolute;
  top: 370px;
  width: 594px;
}

.upload .div-wrapper {
  background-color: #35c3fed1;
  border-radius: 10px;
  height: 59px;
  left: 23px;
  position: absolute;
  top: 16px;
  width: 174px;
}

.upload .text-wrapper-3 {
  color: #ffffff;
  font-family: "Rubik-Medium", Helvetica;
  font-size: 28px;
  font-weight: 500;
  left: 15px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 11px;
  width: 159px;
}

.upload .text-wrapper-4 {
  color: #000000;
  font-family: "Rubik-Regular", Helvetica;
  font-size: 28px;
  font-weight: 400;
  left: 220px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 27px;
  width: 286px;
}

.upload .overlap-3 {
  /* background-image: url(./rectangle-208.svg); */
  background-color: #35c3fed1;
  border-radius: 15px;
  background-size: 100% 100%;
  height: 65px;
  left: 1697px;
  position: absolute;
  top: 380px;
  width: 167px;
}

.upload .text-wrapper-5 {
  color: #ffffff;
  font-family: "Rubik-Medium", Helvetica;
  font-size: 30px;
  font-weight: 700;
  height: 38px;
  left: 26px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 15px;
  width: 116px;
}
